/* ====================================================
    LESS VARIABLES
==================================================== */
@c-bg: #FFF;
@c-copy: #333;

@ff-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
@ff-serif: Baskerville, "utopia-std", "Hoefler Text", Georgia, Times, serif;
@ff-mono: Monaco, Menlo, Consolas, "Courier New", monospace;
