/* ====================================================
    MODULES STYLES

    Modules are the reusable, modular parts of our design.
    They are the callouts, the sidebar sections, the product lists and so on.
==================================================== */

.posts {

}
.posts-list {
	padding-left: 0;

	li {
		list-style: none;
		display: block;
		margin-bottom: 10px;
		padding-left: 10px;
		border-left: 5px solid $c-secondary;

	}
}

.post {
	p {
		font-family: $ff-serif
	}
}
.post-title {
	margin-bottom: 0;
}
.post-meta {
	font-size: 0.8em;
}
.post-author {

}
.post-date {

}
.post-title-link {
	text-decoration: none;
	&:hover {
		color: $c-copy;
	}
}
.prevnext {
	overflow: auto;
	[rel="next"] {
		float: right;
	}
}
