/* ====================================================
    MODULES STYLES

    Modules are the reusable, modular parts of our design.
    They are the callouts, the sidebar sections, the product lists and so on.
==================================================== */

.posts {

}
.posts-list {
	padding-left: 0;
}

.post {
	p {
		font-family: $ff-serif
	}
}
.post-title {
	margin-bottom: 0;
}
.post-meta {
	font-size: 0.8em;
}
.post-author {

}
.post-date {

}
.post-title-link {
	text-decoration: none;
	&:hover {
		color: $c-copy;
	}
}
