* {
	box-sizing: border-box;
}
html, body, .wrapper, .footer, .push {
	margin: 0;
}
html, body {
	height: 100%;
}
html {
	font-size: 62.5%;
}
body {
    font-family: "Ubuntu";
    background-color: #f4d2a7;
    color: #462b2a;
    font-size: 16px;
    line-height: 1.5;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */

	max-width: 1000px;
	padding: 2% 3em;
}
.footer, .push {
	height: 200px; /* .push must be the same height as .footer */
}

.footer {
	background-color: #292929;
	color: #f4d2a7;
}
.footer .inner {
	max-width: 1000px;
	margin: auto;
	padding: 2em 2%;
}
.footer a {
	color: #f4d2a7;
	text-decoration: none;
}
